/*header для мобильной версии*/

@media screen and (max-width:1024px) {
    .header {
        height: 200px;
    }
    .header__content {
        height: 200px;
        justify-content: center;
    }
}


/*header__logo для мобильной версии*/

@media screen and (max-width:1024px) {
    .header__logo {
        font-size: 35px !important;
    }
    .header__logo-img {
        height: 150px;
        width: 120px;
    }
}


/*header__phone для мобильной версии*/

@media screen and (max-width:1024px) {
    .header__phone {
        display: none;
    }
}


/*nav для мобильной версии*/

@media screen and (max-width:1024px) {
    .nav {
        display: none;
    }
}


/*nav-mobile для мобильной версии*/

.nav-mobile {
    position: fixed;
    top: 0;
    width: 70%;
    height: 100%;
    display: none;
    background-color: #d3d3d3;
    animation: nav-mobile-animation 0.5s;
    z-index: 10;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

@keyframes nav-mobile-animation {
    from {
        width: 5%;
        opacity: 0;
    }
    to {
        width: 70%;
        opacity: 1;
    }
}

.nav-mobile__header {
    background-color: #008000;
    width: 100%;
    height: 200px;
    border-bottom: 10px solid #006400;
    line-height: 200px;
    box-sizing: border-box;
    overflow: hidden;
}

.nav-mobile__item {
    background-color: #D3D3D3;
    width: 100%;
    height: 200px;
    border-bottom: 5px solid #C0C0C0;
    line-height: 200px;
    box-sizing: border-box;
    text-decoration: none;
    overflow: hidden;
}

.nav-mobile__item-text {
    margin: auto;
}

@media screen and (max-width:1024px) and (orientation:landscape) {
    .nav-mobile__header {
        height: 100px;
        line-height: 100px;
        font-size: 35px !important;
    }
    .nav-mobile__item {
        height: 100px;
        line-height: 100px;
        font-size: 35px !important;
    }
}


/*nav-button для мобильной версии*/

.nav-button {
    position: fixed;
    top: 0;
    height: 200px;
    width: 200px;
    border-bottom-right-radius: 10px;
    background-color: #D3D3D3;
    font-size: 180px;
    color: #fff;
    background-color: #008000;
    border: none;
    cursor: pointer;
    display: none;
}

@media screen and (max-width:1024px) and (orientation:landscape) {
    .nav-button {
        height: 100px;
        width: 100px;
        font-size: 90px;
    }
}

@media screen and (max-width:1024px) {
    .nav-button {
        display: block;
    }
}

@media screen and (min-width:1025px) {
    .nav-button {
        display: none;
    }
}


/*article__img для мобильной версии*/

@media screen and (max-width:1024px) {
    .article__img {
        display: block;
        float: none;
        margin: auto;
    }
}

@media screen and (max-width:1024px) {
    .article__order-list {
        padding-left: 70px;
    }
}


/*article__table для мобильной версии*/

@media screen and (max-width:1024px) {
    .article__table {
        height: 300px;
        font-size: 35px;
    }
}


/*gallery для мобильной версии*/

@media screen and (max-width:1024px) {
    .gallery__heading {
        font-size: 50px;
    }
    .gallery__content {
        height: 600px;
    }
    .gallery__image-section {
        grid-template-columns: repeat(3, 250px);
    }
    .gallery__image-icon {
        width: 250px;
        height: 190px;
    }
}