@font-face {
    font-family: 'Quarion';
    src: local('Quarion Book'), local('Quarion-Book'), 
    url('../fonts/Quarion-Book.woff2') format('woff2'), 
    url('../fonts/Quarion-Book.woff') format('woff'), 
    url('../fonts/Quarion-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}